<a href="https://colab.research.google.com/github/ajaythakur3369/Innovixion-Tech-Internship/blob/main/Basic_Web_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name - Basic Web Scraper**
## **Developed By - Ajay Thakur (ajaythakur3369@gmail.com)**
## **Branch Name - Electronics and Communication Engineering**
## **Institute Name - Indian Institute of Information Technology Kota**
## **Submitted To - Innovixion Tech**
## **Project Link (GitHub) - [Click here](https://github.com/ajaythakur3369/Innovixion-Tech-Internship)**

# **Problem Statement -**

Develop a simple web scraper that extracts information from a website and presents it in a structured format.

**url -** https://www.amazon.in/s?i=stripbooks&bbn=976389031&rh=n%3A976389031%2Cp_85%3A10440599031%2Cp_n_availability%3A1318484031&pf_rd_i=976389031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=d9156ff5-f4fe-4d30-acc4-be8a85626096&pf_rd_r=RPJ07AB4GA6NNQH82SE9&pf_rd_s=merchandised-search-4&ref=AF_WIN_bub_w_cml_t_1

**Dataset -** https://github.com/gayatrifegde/Innovixion-Tech/blob/main/Task_1/AmazonScrape.csv

https://github.com/gayatrifegde/Innovixion-Tech/blob/main/Task_1/AmazonScrapeFinal.csv

# **Let's Begin !**

In [ ]:
# Importing all necessary libraries
import requests as re
from bs4 import BeautifulSoup
import datetime
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Fetching all the required data as HTML
url = 'https://www.amazon.in/s?i=stripbooks&bbn=976389031&rh=n%3A976389031%2Cp_85%3A10440599031%2Cp_n_availability%3A1318484031&pf_rd_i=976389031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=d9156ff5-f4fe-4d30-acc4-be8a85626096&pf_rd_r=RPJ07AB4GA6NNQH82SE9&pf_rd_s=merchandised-search-4&ref=AF_WIN_bub_w_cml_t_1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36 Edg/115.0.1901.203"}
webpage = re.get(url, headers = headers)

# Use 'html.parser' instead of 'lxml'
soup = BeautifulSoup(webpage.content, 'html.parser')

link_title = "a-size-medium a-color-base a-text-normal"
link_price = "a-price-whole"

In [ ]:
# Locating specific tags and attributes
title = soup.find_all('span', class_=link_title)  # 'class_' instead of 'attrs'
price = soup.find_all('span', class_=link_price)

# Extracting text from the elements
title_texts = [title.get_text() for title in title]
price_texts = [price.get_text() for price in price]

# Printing the titles and prices
for title, price in zip(title_texts, price_texts):
    print("Title:", title)
    print("Price:", price)
    print()

In [ ]:
# Assuming price contains a ResultSet object from BeautifulSoup
price_lst = [cost.get_text(strip=True) for cost in price]

print(price_lst)

# Assuming title contains a ResultSet object from BeautifulSoup
title_lst = [title.get_text(strip=True) for title in title]

print(title_lst)

[]
[]

In [ ]:
# Creating a dictionary with 2 lists that were scraped previously
dict = {title_lst[key] : price_lst[key] for key in range(len(title_lst))}
dict

{}

In [ ]:
# Obtaining the date using DateTime
today = datetime.date.today()

In [ ]:
# Access the drive from Colab to access the file
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
# Writing the data into a CSV file
import csv
heading = ['Date','Product', 'Price']
data = [today, title_lst, price_lst]

# Writing the headings into a CSV file
with open('/content/drive/MyDrive/Colab_Notebook/Internship_Name/Innovixion_Tech/File_Name/Sales_dataset.csv', 'w', newline = '', encoding = 'UTF8') as c:
    csvwriter = csv.writer(c)
    csvwriter.writerow(heading)

In [ ]:
# Appending all the values into the CSV file
with open('/content/drive/MyDrive/Colab_Notebook/Internship_Name/Innovixion_Tech/File_Name/Sales_dataset.csv', 'a+', newline = '', encoding = 'UTF8') as c:
    for key, value in dict.items():
        data = [today, key, value]
        csvwriter = csv.writer(c)
        csvwriter.writerow(data)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab_Notebook/Internship_Name/Innovixion_Tech/File_Name/Sales_dataset.csv")
df.head()

Empty DataFrame
Columns: [Date, Product, Price]
Index: []

In [ ]:
# Apply the regular expression only to non-null string values
df['Price'] = df['Price'].apply(lambda x: re.sub(r'\n', '', x) if isinstance(x, str) else x)

# Apply the regular expression to remove spaces from each element in the 'Price' column
df['Price'] = df['Price'].apply(lambda x: re.sub(r'\s+', '', x) if isinstance(x, str) else x)

In [ ]:
df.Price

Series([], Name: Price, dtype: object)

In [ ]:
df.to_string

<bound method DataFrame.to_string of Empty DataFrame
Columns: [Date, Product, Price]
Index: []>

Web Scraping Popular Books on Amazon

This is a simple web scraper using BeautifulSoup to extract data on popular top-selling books from Amazon. It utilizes requests to make the HTTP request.

The collected data was cleaned and organized neatly using pandas.

Finally, the cleaned data was written to a CSV file using the CSV library.